#content .bigbazarlogo{
    width: 30%;
    margin-left: 30%;
}
#content .bigbazarlogo img{
    width: 100%;
}

#content .bigbazarsection li .productimage{
/*    width: 70%;*/
    width: 150px;
    margin-left: 20px;;
    
    
}
#content .unit{
    font-size: 17px;
    color: lightgrey;
}
#content .bigbazarsection span{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
}
#content .bigbazarsection{
    text-align: center;
}


#content .bigbazarsection .addbutton button{
        background-color: #fb641b;
    border: none;
    border-radius: 6px;
    padding: 8px 20px;
    margin-left: 20px;
    
    text-transform: uppercase;
}
#content .productbigbazar{
    margin: 50px 0px;
}
#content .productbigbazar ul{
    display: flex;
    flex-wrap: wrap
}

#content .bigbazarsection li {
/*    display: inline-block;*/
/*    width: 23%;*/
    width: 250px;
    margin: 20px;
/*    padding: 20px 0px;*/
/*border: 1px solid #ccc;*/
    height: 200px;
    
}

#content .bigbazarsection li .productimage img{
    width: 100%;
}
#content .bigbazarsection .productdescription span{
    font-size: 16px;
    margin-left: -80px;
    color: #666;
    font-weight: 500;
    text-transform: capitalize;
}


/*modal*/
.modal-content .nextimage{
    text-align: center;
}

#content  .modal-content .nextimage img{
    width: 65%;
}
#content  .modal-content span{
    font-size: 22px;
}
#content  .modal-content .unit{
    font-size: 17px;
    color: lightgrey;
}