<div class="bigbazar">
   <div class="bigbazarlogo">
    <img src="images/big-bazar.jpg" alt="">
</div>
<div class="bigbazarsection">
   <span>products</span>
    <div class="productimage">
        <ul>
            <li ng-repeat="data in bigbazardata">
             <div class="product">   
             <div class="productimage" >
             <img ng-src="{{data.ProductImage}}"  data-toggle="modal" data-target="#exampleModalLong"> 



<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{data.ProductName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="nextimage">
           <img ng-src="{{data.ProductImage}}">
       </div>
       <div class="counter-cart">
           <span>Quantity</span>
        
          <input type="number" placeholder="quantity" ng-model="count" ng-init="count=1" min="1" >
         
         
       </div>
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-primary" ng-click="total(count,data)" >Add To Cart</button>
      </div>
    </div>
  </div>
</div> 

              </div>
              
              </div>
              
            </li>
        </ul>
    </div>
</div>
</div>