<div class="kfc">
   <div class="kfclogo">
    <img src="images/KFC-%E2%80%93-Colonel%E2%80%99s-Bucket-1.png" alt="">
</div>
<div class="kfcsection">
   <span>products</span>
    <div class="productkfc">
        <ul>
            <li ng-repeat="data in kfcdata">
             <div class="product">   
             <div class="productimage">
              <img ng-src="{{data.ProductImage}}" data-toggle="modal" data-target="#exampleModalLong" ng-click="addmodal(data)">  
              </div>
              <div class="productdescription">
                  <span class="productname">{{data.ProductName}}</span>
                  <br>
                  <span class="productprice"><i class="fa fa-inr" aria-hidden="true"></i>{{data.Price}}</span>
              </div>
              
              </div>
            </li>
        </ul>
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{name.ProductName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="nextimage">
           <img ng-src="{{modal.ProductImage}}">
           <br>
           <span class="unit">1-unit</span>
            <span class="productprice"><i class="fa fa-inr" aria-hidden="true"></i>{{modal.Price}}</span>
       </div>
       <div class="counter-cart">
           <span>Quantity</span>
        
          <input type="number" placeholder="quantity" ng-model="count" ng-init="count=1" min="1" >
         
         
       </div>
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-primary" ng-click="addtocart()" >Add To Cart</button>
      </div>
    </div>
  </div>
</div> 
        
    </div>
</div>
</div>